{% extends "base.html" %}
{% block title %}Buy{% endblock %}
{% block content %}


<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <title>Stock Market Simulator</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='tables.css')}}">
</head>
<h1>Buy</h1>
<body>
      <div>
          <table style="width:100%">
          <tr>
              <th>Ticker-Symbol</th>
              <th>Share Price</th>
              <th>Change(%)</th>
              <th>Points(+,-)</th>
              <th>Standard Deviation</th>

          </tr>
          <tr>
              <td>{{tickersymbol}}</td>
              <td>{{shareprice}}</td>
              <td>{{change}}</td>
              <td>{{points}}</td>
              <td>{{SD}}</td>

          </tr>
          </table>
      </div>
  <p>The standared deviation measures the spread of the data, the higher the SD the more volatile the companies share price is.</p>

  <p>How many shares would you like to buy?</p>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
      {% endif %}
  {% endwith %}



  <form action="{{ url_for('buy') }}" method="POST">
    <p>Number of shares <input type = "number" name = "numshares" placeholder = "Number of shares"/></p>
    <button type="submit" id="transaction" value="Submit">Submit</button>
  </form>


</body>











{% endblock %}
